extends layout

block content
  h1= title
  form( method="post")
    div
      div
        label First Name
        input(type="text", name="firstName", id="firstName" value= firstName)
      div
        label Last Name
        input(type="text", name="lastName", id="lastName" value= lastName)
      div
        label Email
        input(type="text", name="email", id="email" value= email)
      div
        input(type="submit", value="Submit")
  p #{message}
